body {
    color: #282425;
    background-color: #fff1e6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

/*
    font-weight: normal, bold
*/

h1,
h2,
h3 {
    color: #756158;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

h1 {
    font-size: 80px;
    text-align: center;
}

h2 {
    font-size: 48px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

a {
    color: #756158;
    font-style: italic;
}

<!--div {
    background-color: #f9e3d0;
}-->

.nasTym,
.kontakt {
    background-color: #f9e3d0;
}

.paticka {
    color: #ffffff;
    background-color: #282425;
    text-align: center;
}